{{ $_hugo_config := `{ "version": 1 }` }}
<section class="partners">
<div class="inner">
{{ .Inner }}
</div>

{{ $site := .Site }}
{{ range (split (.Get "categories") ",") }}
<section class="partners-group partner-{{ . }}">
<ul class="shuffle">
	{{ $partners := where $site.AllPages "Params.category" . }}
{{ range sort $partners ".Params.order" "asc" }}
<li>{{ partial "partner.html" . }}</li>
{{ end }}
</ul>
</section>
{{ end }}
</section>
