:root{
    --primary:#5c8ed8
}

a .icon.icon-email {
    width: 1em;
    height: 1em;
}

.home main .container.fixed .inner, .home main .container.fixed ul {
    max-width: 1100px;
    max-width: var(--theJdrSize);
    margin: 0 auto;
}

.flex {
    display:flex;
}
.flex section {
        margin: var(--space-2) var(--space-4);
}

