<a href="{{ .Permalink }}">
	<h4>
		{{ .Title }}
		<span class="language {{ anchorize .Params.language }}"></span>
	</h4>

	<hr>

	<div class="info">
		{{ if .Params.tags }}
		<div class="tags">
			{{ range .Params.tags }}
			<span>{{ . }}</span>
			{{ end }}
		</div>
		{{ end }}

		{{ if .Params.level }}
		<div class="complexity">{{ .Params.level }}</div>
		{{ end }}
	</div>

	{{ if .Params.speakers }}
	<ul class="speakers">
		{{ range where $.Site.RegularPages "Params.key" "in" .Params.speakers }}
		<li class="speaker">
			<div class="speaker-img" style="background-image: url({{ .Params.photoURL }});"></div>
			<strong class="speaker-name">{{ .Params.name }}</strong>
<!--			<div class="speaker-company">{{ .Params.company }}</div>-->
		</li>
		{{ end }}
	</ul>
	{{ end }}

</a>
