{{ $_hugo_config := `{ "version": 1 }` }}
<section class="container fixed">
	
	<div class="inner flex">
		<section>
				{{ readFile "/content/chairs_and_organisers.md" | markdownify }}
		</section>
		<section>
				{{ readFile "/content/program_committee.md" | markdownify }}
		
		</section>
{{ .Inner }}	
</div>
</section>
